# Default ignored files
congratz_bot.iml
misc.xml
modules.xml
profiles_settings.xml
vcs.xml
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
